apex==0.9.10dev
effdet
grad_cam==1.4.8
matplotlib==3.5.2
numba==0.55.1
numpy==1.21.5
Pillow==9.5.0
pycocotools==2.0.6
scikit_learn==1.0.2
timm
torch>=2.0
torchvision
tqdm
wandb==0.13.9
opencv-python==4.7.0.68